.main-content {
  margin-right: 1em;
  margin-left: 1em;
}

.subject-node {
  padding-left: 0;
}
.course-nodes {
  float: right;
  display: none;
}

.course-list-title {
  text-decoration: none;
  color: black;
}

.course-list-description {
  margin-top: 1em;
}

.course-time,
.course-instructor {
  margin-top: 1em;
}

.course-table {
  tr:first-child td {
    border-top: 0;
  }
  
  .course-table-title {
    font-weight: bold;
  }
}

.course-timetable {
  tr:first-child td {
    width: 10%;
  }
}

.course-timetable-head {
  font-size: 20px;
  border-top: 0;
}

.course-timetable-core-head {
  font-weight: bold;
  font-size: 16px;
}

.course-panel {
  .panel-body {
    padding-bottom: 0;
  }
}

.registrar-link {
  font-size: 10px;
  padding: 2px 2px 0 2px;
}


