.main-container {
  margin-top: 20px;
}

.course-nodes {
  float: right;
  display: none;
}

.course-list-title {
  text-decoration: none;
  color: black;
}

.course-list-description {
  margin-top: 1em;
}

.course-time,
.course-instructor {
  margin-top: 1em;
}

.course-table {
  tr:first-child td {
    border-top: 0;
  }
  
  .course-table-title {
    font-weight: bold;
  }
}

.course-panel {
  .panel-body {
    padding-bottom: 0;
  }
}