.main-container {
  margin-top: 20px;
}

.course-nodes {
  float: right;
  display: none;
}

.course-list-title {
  text-decoration: none;
  color: black;
}

.course-list-description {
  margin-top: 1em;
}

.course-time,
.course-instructor {
  margin-top: 1em;
}

.course-table {
  .course-table-title {
    font-weight: bold;
  }
}